<nav>
    <a [routerLink] = "'/'">Home</a>
</nav>

<header class="text">
    <p>MedECC is a telemedicine web application using Angular and .NET 
    to provide a global network of physicians and specialists to 
    underserved communities. The app began as a patient monitoring 
    device for understaffed hospital during Covid-19, then evolved into 
    a broader healthcare solution.</p>

    <p>As the team's <strong>User Interface Designer</strong>, I work to 
    organize and understand our clients' needs by storyboarding various 
    user experiences based on feedback from India, Zambia, and Mexico.</p>
</header>