<header>
    <!--Nav and Intro Text-->
    <nav>
        <ul class="nav">
            <li class="nav-item"><a [routerLink] = "'/'">Home</a></li>
        </ul>
    </nav>

    <section class="text">
        <p>MedECC is a telemedicine web application using Angular and .NET 
        to provide a global network of healthcare professionals to support 
        underserved or remote communities. The app began as a patient monitoring 
        device for understaffed hospitals during Covid-19, then evolved into 
        a broader healthcare solution.</p>
    
        <p>Covid-19 will not be the last pandemic in our lifetime. As someone 
        graudating during the pandemic, I saw the great opportunity MedECC 
        could become in the coming decade. As the team's <strong>User Interface 
        Designer</strong>, I work to organize and understand our clients' needs 
        by storyboarding experiences and testing interactions for functionality.
        I work alongside the Front-End Developers to code these interactions 
        and maintain a design language throughout the application.</p>
    </section>
</header>

<main>
    <section class="text-body">
        <h2>User Experience and Interface Design</h2>
        <p>I began tackling design challenges for the project. The biggest 
        problem was appealing to a large audience of healthcare workers and 
        cultures around the globe. The first step in designing for this many 
        users was organizing personas and storyboards. From research and 
        feedback, it became clear that two products were evolving. 
        A covid-19 focused patient monitor and a patient-doctor matching 
        network tool. Our matching tool would work on top of the patient 
        monitor, so we could tackle covid-19 and be ready for future goals.</p>

        <h3>Who are we designing for?</h3>
        <p>Our clients are all hospital administrators located in India, Mexico, 
        and Zambia. From the first set of prototypes, our clients had a few 
        unresolved needs. The main concern was an additional user we had 
        overlooked. Each of these underserved communities had attempted to fix 
        the understaffed healthcare system. In Mexico they call these helpers 
        the "community leaders" and in India they are usually family members or 
        neighbors.</p>

        <h3>Incorporating our users' needs</h3>
        <p>The first round of fixes were usability and accessibility changes. 
        The login and sign-up pages needed consistent color usage, font sizes, 
        and better contrasting buttons. These fixes bettered the whole app with 
        text-blocks and image sizes set to a standard. As a developer and 
        designer, I was involved in Angular routing tasks to better user 
        navigation and flow. The design had to be responsive and focused on a 
        mobile or tablet experience as this was the primary device of our users. 
        These development fixes gave a smooth and simple flow for healthcare 
        professionals and patients.</p>

        <p>The second round of fixes came from wireframes and prototyping. 
        The main user interaction was decided as a healthcare worker choosing 
        a patient from a list to monitor their livestream feed. This interaction 
        is meant to reduce the hands-on load of hospital staff when too many 
        patients need care. We needed to reduce the amount of screens into a 
        patient dashboard, which would be the hub for communication, monitoring, and 
        patient information. This meant healthcare workers only needed to switch 
        between two screens: patient list and individual monitor.</p>
    </section>

    <section class="text-body">
        <h2>Results of My Work</h2>
        <p>Our clients were excited about our prototype above. They highlighted 
        easy of use and simplicity of patient information/communication channels. 
        I redesigned the user experience and interactions by removing extraneous 
        or duplicate actions, while organizing user flows into a clean design.
        From my work, MedECC is looking for funding to create a much broader 
        healthcare solution. With covid-19, we aimed to reduce load on nurses and 
        physicians. With my work, we aim to reduce load on country-wide healthcare 
        systems to bring some of the best healthcare to underserved areas.</p>
    </section>
</main>