<section id="about" class="text">
    <p>I'm a Front-End Engineer with a passion for User Interface 
    Design and Research. My goal in every project is creating user 
    interaction components that blend into the application. My 
    designs are grounded in ux principles reducing cognitive load 
    for participants.</p>

    <p>My industry experience began with MedECC as the
        <a [routerLink]="'/medecc'"><strong>UI and Design Lead</strong></a> 
    motivated by the impact of a globally distributed healthcare platform. 
    This was the perfect opportunity for graduting in the first year of the 
    Covid-19 pandemic.</p>

    <p>I worked as a 
        <a [routerLink]="'/salton'"><strong>Data Analyst</strong></a> 
    at Scripps Institute of Oceanography and Planetary Physics where I 
    investigated the interaction of Lithium Mining, Lake Loading, and the 
    underlying geology of the Southern San Andreas Fault.</p>

    <p>Email me with any opportunities at</p>
    
    <p><strong>szokamot@ucsd.edu</strong></p>
</section>




<!--OUTDATED | project labels-->
<!--main id="projects" class="projects">
    <aside class="medecc">
        <a [routerLink] = "'/medecc'" class="hover"><img src="../../assets/MedECC_icon.png" alt="MedECC"></a>
    </aside>
    
    <aside class="salton">
        <a [routerLink] = "'/salton'" class="hover"><img src="../../assets/Salton_icon.png" alt="Seismic Trends"></a>
    </aside>
    
</main-->