img {
  max-width: 320px;
}

.projects {
  padding-top: 5%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.hover:hover {
  webkit-filter: blur(4px);
  filter: blur(4px);
}