img {
  max-width: 320px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 2rem;
  min-width: 320px;
}
.nav-item {
  list-style: none;
  margin-right: 2rem;
}
.nav-item a {
  text-decoration: none;
  color: black;
}
.nav-item:first-child {
  margin-right: auto;
  margin-left: 0rem; 
}

.projects {
  padding-top: 5%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.text {
  padding-top: 10%;
}