<nav>
    <ul class="nav">
        <li class="nav-item"><a>(Work in Progress) Portfolio</a></li>
        <li class="nav-item"><a href='#about'>About</a></li>
        <li class="nav-item"><a href='#projects'>Projects</a></li>
        <li class="nav-item"><a href='#contact'>Contact</a></li>
    </ul>
</nav>

<header id="about" class="text">
    <p>I'm a <strong>Front-End Engineer</strong> with a passion for 
    <strong>User Interface Design and Research</strong>.</p>

    <p>I live in <strong>Cupertino, California</strong> 
    where you can find me hiking, running, gardening, camping, and cooking.</p>

    <p>See my full bio <a [routerLink]="'/bio'"><strong>here</strong></a>.</p>

    <p>Some of my experience is in <strong>Web Development</strong>, 
    <strong>Data Science</strong>, and <strong>Game Design</strong>.</p>

    <p>Email me with any opportunities at</p>
    
    <p><strong>szokamot@ucsd.edu</strong></p>
</header>

<main id="projects" class="projects">
    <aside class="medecc">
        <a [routerLink] = "'/medecc'" class="hover"><img src="../../assets/square.png" alt="MedECC"></a>
    </aside>
    
    <aside class="salton">
        <a [routerLink] = "'/salton'" class="hover"><img src="../../assets/square.png" alt="Seismic Trends"></a>
    </aside>
    
    <a [routerLink] = "'/third'" class="third hover"><img src="../../assets/square.png" alt="Third"></a>
</main>