<nav>
    <ul class="nav">
        <li class="nav-item"><a [routerLink]="'/'">Spencer Okamoto</a></li>
        <li class="nav-item"><a [routerLink]="'/bio'">About</a></li>
        <li class="nav-item"><a href="../../assets/Resume2022.pdf" download>Resume</a></li>
        <li class="nav-item"><a target="_blank"
            href="https://github.com/SpencerOkamoto">GitHub</a></li>
        <li class="nav-item"><a target="_blank"
            href="https://www.linkedin.com/in/spencer-okamoto-113400227/">LinkedIn</a></li>
    </ul>
</nav>

<nav class="nav2">
    <a class="mobile-home" [routerLink]="'/'">Spencer Okamoto</a>
    <aside class="mobile-links">
        <a [routerLink]="'/bio'">About Me</a>
        <li class="nav-item"><a href="../../assets/Resume2022.pdf" download>Resume</a></li>
        <li class="nav-item"><a target="_blank"
            href="https://github.com/SpencerOkamoto">GitHub</a></li>
        <a target="_blank" href="https://www.linkedin.com/in/spencer-okamoto-113400227/">LinkedIn</a>
    </aside>
</nav>