<nav>
    <ul class="nav">
        <li class="nav-item"><a [routerLink]="'/'">Spencer Okamoto</a></li>
        <li class="nav-item"><a [routerLink]="'/bio'">About Me</a></li>
        <li class="nav-item"><a [routerLink]="'/medecc'">MedECC</a></li>
        <li class="nav-item"><a [routerLink]="'/salton'">Salton Sea</a></li>
        <li class="nav-item"><a target="_blank"
            href="https://www.linkedin.com/in/spencer-okamoto-113400227/">LinkedIn</a></li>
    </ul>
</nav>

<nav class="nav2">
    <a class="mobile-home" [routerLink]="'/'">Spencer Okamoto</a>
    <aside class="mobile-links">
        <a [routerLink]="'/bio'">About Me</a>
        <a [routerLink]="'/medecc'">MedECC</a>
        <a [routerLink]="'/salton'">Salton Sea</a>
        <a target="_blank" href="https://www.linkedin.com/in/spencer-okamoto-113400227/">LinkedIn</a>
    </aside>
</nav>