<nav>
    <ul class="nav">
        <li class="nav-item"><a [routerLink]="'/'">Spencer Okamoto</a></li>
        <li class="nav-item"><a [routerLink]="'/bio'">About Me</a></li>
        <li class="nav-item"><a [routerLink]="'/medecc'">MedECC</a></li>
        <li class="nav-item"><a [routerLink]="'/salton'">Salton Sea</a></li>
        <li class="nav-item"><a href='#contact'>Contact</a></li>
    </ul>
</nav>

<nav class="nav2">
    <a class="mobile-home" [routerLink]="'/'">Spencer Okamoto</a>
    <aside class="mobile-links">
        <a [routerLink]="'/bio'">About Me</a>
        <a [routerLink]="'/medecc'">MedECC</a>
        <a [routerLink]="'/salton'">Salton Sea</a>
        <a href='#contact'>Contact</a>
    </aside>
</nav>