<footer>
    <section class="contact-info">
        <p>Here is my preferred contact information</p>
        <p><strong>{{email}}</strong></p>
        <a href="../../assets/Resume2022.pdf" download="Resume2022.pdf">Resume</a>
        
        <article class="contact-links">
            <a target="_blank" href="https://www.linkedin.com/in/spencer-okamoto-113400227/">LinkedIn</a>
            <a target="_blank" href="https://medium.com/ucsd-cogs-187a-summer-2018/storyboards-and-rethinking-the-scope-3122188ca470">Medium</a>
            <a target="_blank" href="https://github.com/SpencerOkamoto">GitHub</a>
        </article>
    </section>
</footer>