.foot {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 1fr);
}

.contact-info {
    display: grid;
    text-align: center;
    row-gap: 25px;
}

a {
    text-decoration: none;
    color: black;
} 