<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <!--Responsive Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>

    <!--Navigation Component-->
    <header>
      <nav>
        <app-navbar></app-navbar>
      </nav>
    </header>
    
    <!--About Component-->
    <main>
      <app-about></app-about>
    </main>

    <!--Project Component-->
    <app-project></app-project>

    <!--Contact Component-->
    <footer>
      <app-contact></app-contact>
    </footer>

  </body>
</html>