<header class="intro-block">
    <!--Nav and Intro Text _ Background #6659C2-->
    <nav>
        <ul class="nav">
            <li class="nav-item"><a [routerLink] = "'/'">Home</a></li>
        </ul>
    </nav>

    <section class="text">
        <p>The study began in Westmorland, California -- located South of 
        the Salton Sea and North of Brawley. A series of earthquakes hit 
        the area from September 30th through October 3rd 2020.</p>
    
        <p>I investigate the interaction among fault blocks and 
        migration of fault energy on the Southern San Andreas Fault. 
        Using <strong>Python Data Visualizations</strong>, this 
        study became a starting point in documenting Earthquake Swarms. 
        </p>
    
        <p>Here are some Python scripts detailing how to access, clean, 
        and analyze <strong>US Geological Survey</strong> data. In my 
        analysis, I distinguish between Earthquake Swarms and Sequences.
        </p>

        <p>Here's some of my work:</p>
    </section>
</header>

<!--Salton Project Information-->
<main>
    <section>
        <h2>Project Background</h2>
    </section>

    <section>
        <h2>Python Scripts and Visualizations</h2>
    </section>

    <section>
        <h2>Results</h2>
    </section>
</main>