<header class="intro-block">
    <!--Nav and Intro Text _ Background #6659C2-->
    <nav>
        <ul class="nav">
            <li class="nav-item"><a [routerLink] = "'/'">Home</a></li>
        </ul>
    </nav>

    <section class="text">
        <p>The study began in Westmorland, California -- located South of 
        the Salton Sea and North of Brawley. A series of earthquakes hit 
        the area from September 30th through October 3rd 2020.</p>
    
        <p>I investigate the interaction among fault blocks and 
        migration of fault energy on the Southern San Andreas Fault. 
        Using <strong>Python Data Visualizations</strong>, this 
        study became a starting point in documenting Earthquake Swarms. 
        </p>
    
        <p>Here are some Python scripts detailing how to access, clean, 
        and analyze <strong>US Geological Survey</strong> data. In my 
        analysis, I distinguish between Earthquake Swarms and Sequences.
        </p>

        <p>Here's some of my work:</p>
    </section>
</header>

<!--Salton Project Information-->
<main>
    <section class="text-body">
        <h2>Project Background</h2>
        <p>This research project began in the Late Summer of 2020. With 
        covid-19 shining light on supply chain issues and pollution, this 
        project is centered around the most important industry of today. 
        As the Green Revolution progresses, the progress relies on rare 
        earth metals for batteries and other components. My project focused
        on the interaction of geothermal mines on the beginning of the 
        San Andreas Fault under the Salton Sea. A lesser-documented series 
        of earthquakes were reported in the area as geothermal activities 
        came into the area. These sequences are common in areas such as 
        Alaska and Yellowstone National Park where geothermal gysers are 
        naturally formed. The Salton Sea has a similar story; however, 
        the introduction of geothermal mining is thought to have increased 
        these events. A by-product of this is Lithium, which has brought 
        the industry to begin Lithium mining - a more disruptive type of 
        mining. Most companies inject hot water solutions into the ground 
        to force lithium filled solution up. This injection stresses the 
        nearby geology and potentially cause fault movement.</p>
    </section>

    <section class="text-body">
        <h2>Python Visualizations</h2>
        <p>In order to test behavior, USGS data was analyzed and compared
        to normal earthquake trends. A normal <strong>Main Event 
        Sequence</strong> has a single point of highest magnitude with the 
        number of events decaying exponentially. I observed these behaviors 
        and how they contrast from what I observed in Westmorland. Omori's 
        Law describes how the number of events decay over time as energy 
        migrates away. Gutenberg-Ritcher's Law describes how magnitude decays 
        as energy leaves. Below are two sequences, one is a Main Event and 
        the other is a Swarm.</p>
    </section>

    <section class="text-body">
        <h2>Results of My Work</h2>
        <p>Earthquake Swarms do not obey Omori's or Gutenberg-Ritcher's Law. 
        These are rare occurences, mostly in natural hot springs, where energy 
        builds-up in the surrounding faults and causes strange behaviors.
        These have the potential to be more devasting by increasing ground 
        waves and prolonging shocks. The danger in the Salton Sea is the 
        potential to cause a large earthquake migrating along the San Andreas 
        Fault into Los Angeles. This would have devastating consequences, yet 
        Lithium mines are already setting-up shop. It is essential to continue 
        research on its effects on the neighboring geology.</p>
    </section>
</main>