<section class="intro-block">
    <section class="text">

        <h2>Investigation into the Salton Sea</h2>
        <aside class="visuals">
            <img class="figs" src="../../assets/salton-figures/Fault Zone.png">
            <img class="figs" src="../../assets/salton-figures/Clusters.png">
        </aside>

        <p>The study began in Westmorland, California -- located in the 
        Salton Sea nearby the San Andreas Fault. A series of earthquakes 
        hit the region from September 30th through October 3rd 2020. This 
        was a single sequence lasting over three days, which caught our
        attention in the local <a target="_blank" href="https://www.sandiegouniontribune.com/news/california/story/2020-09-30/no-damage-injuries-in-southern-california-earthquake-swarm">
        <strong>San Diego Union Tribune</strong></a>. Californians are no 
        strangers to earthquakes; however, this region was observing an 
        increase in frequency and strange behaviors. The region is a natural 
        geothermal region, as well as the bed of an ancient lake that 
        covered most of California - Lake Cahuilla. Historical seismicity 
        has followed a 200 year cycle corresponding to the lake loading. 
        Water increases the slippage with weight increasing pressure on 
        the faults. This is called induced seismicity and plays a major
        role in triggering the San Andreas Fault. Lake loading is the 
        historic indicator for when the San Andreas will slip, although 
        the intentional flooding of the Salton Sea has reset the statistics 
        and brought in potentially harmful industries.</p> 

        <p>Three industries have potentially increased seismicity. The 
        first was <strong>Lake Loading</strong> that has increased slippage 
        on waterlogged fault barriers. The second was <strong>Geothermal
        Energy Production</strong> which involves re-injection of groundwater. 
        This can add strain on the nearby geology and increase 
        groundwater-related slippage. The last problem has only recently 
        arrived in the area. <strong>Lithium Mining</strong> is becoming a matter 
        of national defense as Green Energy aims to revolutionize global 
        infrastructure. This type of mining requires a more intensive injection 
        process to displace ion-rich groundwater. The same geology that affords 
        geothermal activity and Lithium-rich groundwater is why the area is 
        prone to sequences, but mining practices may accelerate today's induced 
        seismicity trends.</p>

        <p>There are many potential interactions with this region's geology, but 
        few investigations have been conducted. I decided to take the first step 
        by distinguishing the region's seismic behaviors. I detail how to access, 
        clean, and analyze <strong>US Geological Survey</strong> data with the 
        goal to analyze Earthquake Swarm trends. My project poses solutions to 
        modern equipment bias and the potential dangers of irresponsible economic 
        activities in the area. </p>
    </section>
</section>

<!--Salton Project Information-->
<main>
    <section class="text-body">
        <h2>What are Faults and Earthquakes?</h2>
        <p>A <strong>Fault</strong> connects loose pieces of the Earth's 
        crust held together by the weight from above. In California, we 
        reside on a subduction zone of the Pacific and North America Plate 
        Boundaries. The less-dense Pacific Plate is pushed below and creates 
        friction between these slabs of rock. A layer of crumbly faults are 
        deposited on the top and pushed inland over millions of year. When a 
        threshold of stress is passed, a chain-reaction of these loose pieces 
        crashing against each other forms an <strong>Earthquake</strong> with 
        four types of seismic waves. These seismic waves usually migrate along 
        faults and can cause aftershocks or other main events. When an 
        earthquake happens, the energy migrates to nearby faults where it 
        dissipates. The danger here is building-up tensions in surrouding 
        systems or causing subsequent main event sequences in the epicenter or 
        futher down the fault.</p>

        <h2>What are Earthquake Swarms and Main Event Shocks?</h2>
        <p>The few studies into geothermal production in Yellowstone
        National Park and a few parts of Alaska pose the same questions. 
        <strong>Main Event Shocks</strong> have a distinguishable highest 
        magnitude event. The decay of a main event shock in magnitude and 
        volume can be theoretically modeled by Omori's Law and 
        Gutenberg-Richter's Law. An <strong>Earthquake Swarm</strong> will 
        consist of multiple thresholds breaking without a predictable 
        decay rate - this is best represented in a time series. These swarm 
        behaviors imply stress thresholds are more contained and release less 
        energy when they slip. This has the danger of building-up tension rather 
        than slowly releasing. These dangers should be studied in future 
        investigations.</p>
    </section>

    <section class="text-body">
        <h2>Dataset and Timeseries</h2>
        <p>This project sourced all data from the US Geological Survey's 
        <a href="https://earthquake.usgs.gov/earthquakes/map/?extent=20.9204,-130.16602&extent=52.50953,-59.85352">
        <strong>Latest Earthquakes</strong></a>. The dataset has a few 
        measurement limitations, which makes modeling difficult. There is 
        an apparent problem in recording accurate depths and sensing sub-1.0 
        magnitude quakes. This requires excluding some measurements in our 
        analysis. I decided the best route was to remove foreshocks until the 
        highest magnitude event, and decided the modeling for Gutenberg-Richter 
        would be too far off. The best comparison is of these time series, and 
        would be the starting point of any further experiments into swarms.</p>
    </section>

    <aside class="visuals">
        <img class="figs" src="../../assets/salton-figures/west-timeseries.png">
        <img class="figs" src="../../assets/salton-figures/salton-timeseries.png">
        <img class="figs" src="../../assets/salton-figures/niland-timeseries.png">
        <img class="figs" src="../../assets/salton-figures/bombay-timeseries.png">
    </aside>

    <section class="text-body">
        <h2>Python Visualizations</h2>
        <p>From the above time series figures, it is visually telling which 
        is an <strong>Earthquake Swarm</strong> or <strong>Main Event Shock
        </strong>. The Westmorland sequence decays much slower and contains 
        a clear main shock. Westmorland is a main event. The next two
        contain multiple events with few shocks in between. This implies a 
        swarm behavior. After coming to a conclusion on how swarms behave, 
        I needed to solve this analytically. I attempted to use Omori's Law -
        to track the decay of earthquake frequency. It appeared the best 
        correlations were found in Main Events while a weak trend was found 
        in Earthquake Swarms. This should be experimented with in other 
        regions and more samples in future experiments.</p>
    </section>

    <aside class="visuals">
        <img class="figs" src="../../assets/salton-figures/westOLCor.png">
        <img class="figs" src="../../assets/salton-figures/saltonOLCor.png">
        <img class="figs" src="../../assets/salton-figures/nilandOLCor.png">
        <img class="figs" src="../../assets/salton-figures/bombayOLCor.png">
    </aside>

    <section class="text-body">
        <h2>Results of My Work</h2>
        <!--
        <a href="../../assets/salton-figures/Seismic_Trends_of_the_Salton_Sea.pdf" download>Thesis</a>
        <a href="../../assets/salton-figures/Figures.pdf" download>Figures</a>
        <a href="../../assets/salton-figures/datasets/" download>Datasets</a>
        -->

        <p>I began investigations into Earthquake Swarms. The purpose was to 
        uncover the fundamental characteristics of these sequences, and understand 
        how they behave differently from Main Events. Swarms occur naturally in 
        geological thermal zones, but this region experiences disruptions from 
        power production and mining. Additional stress on these faults and the 
        unpredictable behavior of lake loading, is concerning for locals and the 
        migration of energy to the San Andreas Fault. My experiment relied on
        modern earthquake detection equiment, which lose information on depth and 
        low magnitudes. These corrections have been adopted by seismologist as 
        older, more accurate equipment is being decommissioned. My work has helped 
        seismologist become aware of Earthquake Swarm behaviors, the issues with 
        modern measurement tools, and spread awareness for sensible economic 
        practices around the Salton Sea.</p>
    </section>
</main>