<!--My quick biography: interests and ambitions-->
<main class="bio">
    <img src="../../assets/profile.JPG" alt="Me">

    <aside class="about-block">
        <p>I'm Spencer Okamoto</p>
        <p>I grew up in the San Francisco Bay Area where I found myself
        returning after attending UC San Diego. During my schooling, I 
        found an interest in user interface design and front end development. 
        I found my projects were grounded in my personal interests and 
        gave another avenue for learning.</p>

        <p>I'm a <strong>Front-End Developer</strong> with a passion for 
        <strong>User Interface Design and Research</strong>. I graduated from 
        UC San Diego with a BS in Cognitive Science specializing in Human 
        Computer Interaction in 2020.
        </p>

        <p>I live in <strong>Cupertino, California</strong> 
        where you can find me hiking, running, gardening, camping, and cooking.</p>
    </aside>
</main>
