<section class="text intro-block">
    <p>I'm a <strong>Front-End Developer</strong> with a passion for 
    <strong>User Interface Design and Research</strong>. I graduated from 
    UC San Diego with a BS in <strong>Cognitive Science</strong>
    specializing in <strong>Human Computer Interaction</strong>.
    </p>
    
    <p>In my schooling, I gained in-depth knowledge applying 
    <strong>User-Centered Design</strong> practices to aid non-profits 
    and NGOs in <strong>user research and personas</strong>, 
    <strong>storyboarding</strong>, and <strong>prototyping</strong>.
    </p>
</section>

<!--My quick biography: interests and ambitions-->
<main class="bio">
    <img src="../../assets/profile.JPG" alt="Me">
    <aside class="about-block">
        <p>I'm Spencer Okamoto</p>
        <p>I grew up in the San Francisco Bay Area where I found myself
        returning after attending UC San Diego. During my schooling, I 
        found an interest in user interface design and front end development. 
        I found my projects were grounded in my personal interests and 
        gave another avenue for learning.</p>
        <p>I am proud to have worked with underserved communities in San 
        Diego and across the globe. I have a profound interest in User-Centered 
        Design practices, and enjoy developing my wireframes.</p>
    </aside>
</main>
