.text {
    color: white;
    padding-bottom: 10%;
}
a {
    color: white;
}
img {
    max-width: 320px;
    padding-top: 5%;
}

.bio {
    display: flex;
    flex-wrap: wrap;
}
.me {
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 5%;
    padding-top: 5%;
}