<section class="projects">
    <article class="medecc">
        <h2>{{medecc}}</h2>
        <h3>{{medecc_des}}</h3>
        <img src="../../assets/kilb-etal-map-faults.png" alt="MedECC">
        <p class="info">{{medecc_info}}</p>
    </article>

    <article class="salton">
        <h2>{{salton}}</h2>
        <h3>{{salton_des}}</h3>
        <!--iframe src="../../assets/Seismic_Trends_of_the_Salton_Sea.pdf"></iframe-->
        <img src="../../assets/kilb-etal-map-faults.png" alt="Seismic Trends">
        <p class="info">{{salton_info}}</p>
    </article>
</section>