/* General Format */
body {
    margin: auto;
    max-width: 1100px;
}

/* Readability and Media Boundaries */
.text {
    max-width: 560px;
    margin: 0 auto;
    padding-top: 10%;
    padding-left: 2rem;
}
.text-body {
    max-width: 560px;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.foot {
    padding-top: 5%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 2rem;
    min-width: 320px;
    max-width: 1000px;
  }
  .nav-item {
    list-style: none;
    margin-right: 2rem;
  }
  .nav-item a {
    text-decoration: none;
    color: black;
  }
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 0rem; 
  }
  